body { text-align: left; padding: 10px; font-family: Tahoma }
a { color: #0000FF; text-decoration: none }
p { line-height: 1.5 }
p a { border: 1px solid #000; padding: 0 4px; border-radius: 5px }
p a:hover, p a.active { color: #000; background: #ffeebc; text-decoration: none }
h2, p { text-align: center; }
code { padding: 2px 4px; font-size: 90%; color: #c7254e; background-color: #f9f2f4; border-radius: 4px }
table.countries { width: 400px; border:1px solid #AAA; margin-bottom: 20px; border-collapse: collapse; margin: 50px auto }
table.countries tr.even { background: #EFEFEF }
table.countries th { background: #222; color: #FFF; font-weight: bold }
table.countries td,
table.countries th { padding: 4px }
table.countries td:hover { background: #FFFFCC }
.pagination {
    justify-content: center;
}