body { text-align: left; padding: 10px; font-family: Tahoma }
a { color: #0000FF }
h2, p { text-align: center; }
table.countries { width: 400px; border:1px solid #AAA; margin-bottom: 20px; border-collapse: collapse; margin: 50px auto; }
table.countries tr.even { background: #EFEFEF }
table.countries th { background: #222; color: #FFF; font-weight: bold }
table.countries td,
table.countries th { padding: 4px }
table.countries td:hover { background: #FFFFCC }